@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --text: #666;
  --whitetext: white;
  --bgColor: rgb(17, 15, 44);
  --button: rgb(9, 9, 48);
  --card: rgb(26, 26, 26);
  --card-con: rgba(5, 5, 5, 0.911);
  --border-line: 2px solid rgba(255, 255, 255, 0.267);
  --bordershadow: -8px 8px 30px rgba(253, 253, 253, 0.205);
  --box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

body {
  background-color: var(--bgColor);
}
/* NAV BAR CONTAINER */
.navbar-con {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 6rem;
  position: fixed;
  background-color: var(--bgColor);
}
.navbar-con nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* navbar drone animation */
.navbar-con .logo {
  width: 100px;
  height: 100%;
  animation: logo 20s linear infinite;
}
@keyframes logo {
  0% {
    transform: translateY(0);
    margin-left: 0vw;
  }

  20% {
    transform: translateY(-5px);
    margin-left: 30vw;
  }
  30% {
    transform: translateY(5px);
    margin-left: 30vw;
  }

  40% {
    transform: translateY(-5px);
    margin-left: 50vw;
  }
  50% {
    transform: translateY(5px);
    margin-left: 65vw;
  }
  60% {
    transform: translateY(-5px);
    margin-left: 65vw;
  }
  70% {
    transform: translateY(5px);
    margin-left: 50vw;
  }
  80% {
    transform: translateY(5px);
    margin-left: 40vw;
  }

  100% {
    transform: translateY(0);
    margin-left: 0vw;
  }
}
/* menu bar */
.navbar-con .fa-bars {
  align-self: center;
  margin-right: 20px;
  color: white;
  font-size: 30px;
  transition: 1s ease;
}
.navbar-con .fa-bars.active {
  color: blue;
  transform: rotate(-90deg);
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  align-items: center;
}

/* container housing the drone section */
.page-con {
  width: 100vw;
  margin-top: 60px;
  position: relative;
  border: var(--border-line);
  border-radius: 20px;
  background-color: var(--card-con);
}

/* side bar menu */
.sidebar {
  position: absolute;
  width: 100vw;
  display: flex;
  left: -100vw;
  top: 60px;
  height: 100%;
  z-index: 2;
  position: fixed;
  color: white;
  border: var(--border-line);
  background-color: rgb(17, 15, 44);
  transition: 0.5s ease-in-out;
}
.sidebar-left {
  order: 1;
  z-index: 3;
  width: 35%;
  background-color: chocolate;
  font-size: 10px;
  border: var(--border-line);
}
.sidebar-left img {
  order: 1;
  border: 3px solid white;
  margin-left: 10%;
  margin-top: 30px;
  width: 80%;
  border-radius: 100%;
  cursor: pointer;
}
.profile-name {
  overflow-wrap: break-word;
  text-align: center;
  padding: 15px 0 10px 0;
  border-bottom: 2px solid var(--border-line);
}
.profile-name p {
 
  margin-top: -8px;
}
.sidebar-icon {
  width: 100%;
  /* margin-top: 52vh; */
 
  font-size: 110%;
}
.setting {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.setting:hover {
  font-size: 122%;
}
.sidebar-icon i {
  padding: 0 10px 0 5px;
}

.sidebar-right {
  order: 2;
  width: 70%;
  right: 0;
  position: absolute;
}
.sidebar.active {
  left: 0;
}

/* drone section container cards */
.drone-section {
  width: 100%;
}

/* container for uper and lower cards */
.select-drone {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 50px 0;
}
/* lower cards */
.select-drone2 {
  padding-top: 0;
}
/* container for drone details, maps and forms  */
.drone-spec,
.drone-bank,
.customers-form,
.drone-map {
  box-shadow: -5px 6px 6px 0px rgba(73, 73, 248, 0.205);
  -webkit-box-shadow: -5px 6px 6px 0px rgba(73, 73, 248, 0.205);
  -moz-box-shadow: -5px 6px 6px 0px rgba(73, 73, 248, 0.205);
  /* border: 2px solid yellow; */
  width: 90%;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.253);
  margin-top: 20px;
  background-color: var(--card);
}

/* drone bank container */
.drone-bank {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 13px;
  padding-top: 10px;
  padding-bottom: 15px;
}
/* drone image container */
.drone-bank .drone {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  box-shadow: -5px 6px 6px 0px rgba(248, 248, 248, 0.74);
  -webkit-box-shadow: -1px 2px 2px 0px rgba(255, 255, 255, 0.74);
  -moz-box-shadow: -5px 6px 6px 0px rgba(253, 198, 198, 0.74);
  background-color: rgba(38, 50, 218, 0.24);
  border-radius: 5px;
}
.drone img {
  width: 99%;
  height: 99%;
  cursor: pointer;
  transition: 0.5s ease;
}

.drone img:hover {
  transform: scale(1.5);
}
.drone-map {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
/* PURCHASE FORM */

.input-group {
  width: 100%;
  display: block;
  position: relative;
}
.input-group input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 10px 10px;
  font-size: 15px;
  margin-bottom: 15px;
}
.input-group select {
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 15px;
  margin-bottom: 15px;
}

.input-group label {
  flex-basis: 28%;
  font-size: 12px;
  color: var(--text);
}
::placeholder {
  font-size: 14px;
}
.input-group span {
  position: absolute;
  bottom: -3px;
  right: 5px;
  font-size: 12px;
  color: red;
  font-style: italic;
}

.weigh-and-code {
  display: flex;
  justify-content: space-between;
  gap: 3px;
}

.weigh-and-code div {
  width: 48%;
}
.weigh-and-code div input::placeholder {
  font-size: 12px;
}

.input-group .fa-circle-check {
  visibility: hidden;
  position: absolute;
  bottom: 25px;
  right: 5px;
  font-size: 14px;
  color: rgb(73, 73, 248) !important;
}

/* djhgjkdhgjklsnklfg */

/* CSS */
.button-82-pushable {
  margin-top: 20px;
  width: 100%;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.8rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

/* hdjgkhsfjkhsjkgv */
.link-btn {
  font-size: 15px;
  font-weight: 900;
  padding: 5px 0;
  width: 90%;
  margin-top: 15px;
}
.regLogInLink,
.LogInLink {
  font-size: 12px;
  padding-top: 20px;
  color: var(--text);
}
/* DRONE SPEC */
.drone-spec p {
  border-bottom: 1px solid rgba(253, 253, 253, 0.185);
  margin-top: 5px;
  font-size: 13px;
}

.drone-spec .selected-drone-pic-and-battery {
  display: flex;
  height: 110px;
}
.drone-spec .selected-drone-img {
  width: 90%;
}
.drone-spec .battery-bar {
  background-color: green;
}
/* MAP */

iframe {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
/* DISPLAY FOR TABLET AND DESKTOP SCREEN  */
@media screen and (min-width: 760px) {
  .navbar-con i {
    display: none;
  }
  .page-con {
    display: flex;
    width: 80%;
    margin-top: 10%;
    justify-content: space-between;
    position: relative;
  }

  .sidebar {
    position: absolute;
    border: 2px solid yellow;
    width: 10%;
    position: fixed;
    top: 0;
  }

  .drone-spec,
  .drone-bank,
  .customers-form,
  .drone-map {
    /* border: 2px solid blue; */
    width: 40%;
  }
  .drone-spec,
  .customers-form {
    border: 2px solid blue;
    /* height: 350px; */
  }

  /* drone image container */
  .drone-bank .drone {
    width: 100px;
    height: 100px;
  }

  @keyframes logo {
    0% {
      transform: translateY(0);
      margin-left: 0vw;
    }

    20% {
      transform: translateY(-5px);
      margin-left: 30vw;
    }
    30% {
      transform: translateY(5px);
      margin-left: 30vw;
    }

    40% {
      transform: translateY(-5px);
      margin-left: 60vw;
    }
    50% {
      transform: translateY(5px);
      margin-left: 60vw;
    }
    60% {
      transform: translateY(-5px);
      margin-left: 90vw;
    }
    70% {
      transform: translateY(5px);
      margin-left: 90vw;
    }
    80% {
      transform: translateY(-5px);
      margin-left: 60vw;
    }
    90% {
      transform: translateY(5px);
      margin-left: 40vw;
    }
    95% {
      transform: translateY(5px);
      margin-left: 20vw;
    }

    100% {
      transform: translateY(0);
      margin-left: 0vw;
    }
  }
}
