@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --text: #666;
  --whitetext: white;
  --bgColor: linear-gradient(0deg, black, rgb(73, 73, 248) 1100% 10%);
  --button: rgb(73, 73, 248);
  --card: rgb(17, 17, 17);
  --bordershadow: -8px 8px 30px rgba(73, 73, 248, 0.205);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

body {
  background-image: var(--bgColor);
  height: 100vh;
}
.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.form-div form {
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  max-width: 450px;
  padding: 30px 30px 20px;
  border-radius: 15px;
  box-shadow: var(--bordershadow);
  position: relative;
  background-color: var(--card);
  border: 3px solid rgba(255, 255, 255, 0.329);
  transition: 0.5s ease;
}
#loginForm {
  position: absolute;
}
#form {
  transform: translateX(150vw);
}

#form.deactivate {
  transform: scale(0.1);

  z-index: -2;
}

#form.activate {
  transform: translateX(0);
}
#loginForm.deactivate {
  transform: scale(0.1);
  z-index: -2;
}

#loginForm.activate {
  transform: translateX(0);
}

.fa-paper-plane {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(73, 73, 248);
  font-size: 26px;
  padding: 20px;
  border: 4px solid rgba(255, 255, 255, 0.63);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.input-group {
  width: 100%;
  display: block;
  margin: 7px 0;
  position: relative;
}
.input-group input {
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 50px;
  flex-basis: 68%;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 10px 10px;
  font-size: 15px;
  margin-bottom: 20px;
}
.input-group select {
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  flex-basis: 68%;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 15px;
  margin-bottom: 20px;
}
.input-group select option {
  padding: 50px 10px;
  font-size: 15px;
}
.input-group label {
  flex-basis: 28%;
  font-size: 12px;
  color: var(--text);
}
::placeholder {
  font-size: 14px;
}
.input-group span {
  position: absolute;
  bottom: -40px;
  right: 25px;
  font-size: 12px;
  color: red;
  font-style: italic;
}
#error-fix {
  color: red;
}
.input-group .fa-circle-check {
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 14px;
  color: rgb(73, 73, 248) !important;
}
.gender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.gender p {
  font-size: 12px;
  position: absolute;
  bottom: -5px;
  text-align: center;
  width: 30%;
  color: var(--text);
}
.gender-container {
  width: 30%;
}
.gender-container input {
  height: 20px;
}
.gender-icon {
  bottom: 5px !important;
  left: 90%;
}
.form span {
  font-weight: 500;
  padding: 20px;
  height: 20px;
  padding: 0;
  margin-bottom: 20px;
  right: 0;
}
button {
  width: 100%;
  border-radius: 12px;
  padding: 8px;
  background-color: var(--button);
}
button a {
  font-size: 15px;
  font-weight: 900;
  color: var(--whitetext);
  padding: 5px;
}
.regLogInLink,
.LogInLink {
  font-size: 12px;
  padding-top: 20px;
  color: var(--text);
}
