@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

/* :root {
  --text: #666;
  --whitetext: white;
  --bgColor:;
  --button: rgb(73, 73, 248);
  --card: rgb(17, 17, 17);
  --bordershadow: -8px 8px 30px rgba(73, 73, 248, 0.205);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
} */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

body {
  height: 100;
  width: 100%;
  min-height: 100vh;
}

/* index page */
.index-page-con {
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
  overflow: hidden;
}
.index-page-con .index-header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid gray;
}
.index-header img {
  width: 50px;
}
.index-header .navbar {
  width: 100%;
  position: absolute;
  top: 5rem;
}

@media screen and (min-width: 768px) {
  .index-header .navbar {
    width: 100%;
    position: relative;
    top: 0;
  }
}
.navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
}
@media screen and (min-width: 768px) {
  .navbar ul {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    border: none;
  }
}
.navbar ul a {
  padding: 5px 10px;
  text-align: center;
  color: gray;
  background-color: whitesmoke;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  border-bottom: 1px solid gray;
}
.navbar ul a:hover {
  background-color: gray;
   color: whitesmoke;
  
}
@media screen and (min-width: 768px) {
  .navbar ul a {
    padding: 5px 25px;
    border: none;
  }
}
.loginsignin {
  margin-right: 100px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.loginsignin h3 {
  text-align: center;
  border: 2px solid gray;
  width: 100px;
  color: gray;
  border-radius: 10px;
  padding: 3px;
  font-size: 15px;
}
.bx-menu{
  font-size: 30px;
}
@media screen and (min-width: 768px) {
 .bx-menu{
  display: none;
}
}

/* login page and registration page */
.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.form-div form {
  margin: 40px auto;
  width: 80%;
  max-width: 450px;
  padding: 30px 30px 20px;
  border-radius: 15px;
  position: relative;
  transition: 0.5s ease;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.178);
}
#loginForm {
  position: absolute;
}
#form {
  transform: translateX(150vw);
}

#form.deactivate {
  transform: scale(0.1);
  z-index: -2;
}

#form.activate {
  transform: translateX(0);
}
#loginForm.deactivate {
  transform: scale(0.1);
  z-index: -2;
}

#loginForm.activate {
  transform: translateX(0);
}

.fa-paper-plane {
  width: 100%;
  transition: 2s ease;
  animation: drone 4s linear infinite;
}
@keyframes drone {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
.drone-shadow {
  background-color: rgba(0, 0, 0, 0.178);
  margin: 0 auto;
  width: 50px;
  height: 10px;
  border-radius: 100px;
  transform: skewX(50deg);
  animation: shadow 4s ease infinite;
}
@keyframes shadow {
  0% {
    width: 100px;
  }

  50% {
    background-color: rgba(0, 0, 0, 0.062);
    width: 50px;
  }
  100% {
    width: 100px;
  }
}
.input-group {
  width: 100%;
  display: block;
  margin: 7px 0;
  position: relative;
}
.input-group input,
select {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
}

.input-group label {
  flex-basis: 28%;
  font-size: 12px;
  color: rgb(88, 88, 88);
}
::placeholder {
  font-size: 14px;
}
.input-group span {
  position: absolute;
  bottom: 35px;
  right: 25px;
  font-size: 12px;
  color: red;
  font-style: italic;
}
#error-fix {
  color: red;
}
.input-group .fa-circle-check {
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 14px;
  color: rgb(73, 73, 248) !important;
}
.gender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.gender p {
  font-size: 12px;
  position: absolute;
  text-align: center;
  width: 30%;
  bottom: 0px;
  color: rgb(88, 88, 88);
}
.gender-container {
  width: 30%;
}
.gender-container input {
  height: 20px;
}
.gender-icon {
  bottom: 5px !important;
  left: 90%;
}
.form span {
  font-weight: 500;
  padding: 20px;
  height: 20px;
  padding: 0;
  margin-bottom: 20px;
  right: 0;
}
.link-btn button {
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  color: white;
  background-color: rgb(148, 148, 148);
  border: 1px solid rgb(221, 221, 221);
}
.link-btn button:hover {
  background-color: rgb(94, 94, 94);
}

.regLogInLink,
.LogInLink {
  font-size: 12px;
  padding-top: 20px;
}
