@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

/* :root {
  --text: #666;
  --whitetext: white;
  --bgColor:;
  --button: rgb(73, 73, 248);
  --card: rgb(17, 17, 17);
  --bordershadow: -8px 8px 30px rgba(73, 73, 248, 0.205);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
} */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

body {
  height: 100;
  width: 100%;
  min-height: 100vh;
}

/* index page */
.index-page-con {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* top header container */
.index-page-con .index-header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid gray;
}
/* logo image */
.index-header img {
  width: 70px;
  animation: bounce 4s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* navbar for mobile */
.index-header .navbar {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 5rem;
}
/* nabar for tablet and above */
@media screen and (min-width: 768px) {
  .index-header .navbar {
    width: 100%;
    position: relative;
    top: 0;
  }
}
/* nav ul */
.navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* ul for tablet and above */
@media screen and (min-width: 768px) {
  .navbar ul {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    border: none;
  }
}

/* nav llinks */
.navbar ul a {
  padding: 5px 10px;
  text-align: center;
  color: gray;
  background-color: whitesmoke;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid gray;
  transition: all 0.3s linear;
}

/* classes for mobile nave toggle */
.left {
  margin-left: -210vw;
}
.right {
  margin-left: 210vw;
}
.left.active {
  margin-left: 0;
}
.right.active {
  margin-left: 0;
}

.navbar ul a:hover {
  background-color: gray;
  color: whitesmoke;
}

/* nav links for tablet and above */
@media screen and (min-width: 768px) {
  .navbar ul a {
    padding: 5px 25px;
    border: none;
    margin: 0 0;
  }
}

/* login and signin con */
.loginsignin {
  margin-right: 100px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  z-index: 5;
}
.loginsignin h3 {
  text-align: center;
  border: 1px solid gray;
  width: 100px;
  color: gray;
  border-radius: 10px;
  padding: 3px;
  font-size: 15px;
}
@media screen and (max-width: 320px) {
  .loginsignin {
    width: 30vw;
  }
  .loginsignin h3 {
    width: 100%;

    font-size: 15px;
  }
}
/* menu bar */
.bx-menu {
  font-size: 30px;
  transition: 0.3s linear;
  margin-right: 10px;
}
.bx-menu.active {
  transform: rotate(-90deg);
}
@media screen and (min-width: 768px) {
  .bx-menu {
    display: none;
  }
}
.banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url(/img/image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.billboard {
  width: 100%;
  height: 60%;
  z-index: 6;
  /* background-color: rgba(245, 245, 245, 0.575); */
}
.billboard .banner-txt {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.banner-txt h3 {
  font-size: 20px;
}
.underline {
  width: 25%;
  border-bottom: 5px solid gray;
  animation: underline 10s linear infinite;
}

@keyframes underline {
  0% {
    width: 10%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 10%;
  }
}
.banner-txt h1 {
  font-size: 45px;
  font-weight: 900;
}
.banner-txt a {
  text-align: center;
  font-size: 40px;
  border-radius: 15px;
  border: 2px solid gray;
  width: 150px;
}
.bannerimg {
  width: 100%;
  height: 40%;
}
.bannerimg img {
  width: 100%;
  margin-top: 5vh;
  animation: bannerdrone 10s linear infinite;
}

@keyframes bannerdrone {
  0% {
    transform: translateY(-70px);
  }
  50% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-70px);
  }
}

@media screen and (max-width: 320px) {
  .bannerimg img {
    margin-top: 10vh;
  }
}
.footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  bottom: 0;
  border: 2px solid red;
  
}
@media screen and (min-width: 768px) {
  .banner {
    flex-direction: row;
    display: flex;
  }
  .billboard {
    width: 40%;
    height: 100%;
  }
  .bannerimg {
    width: 60%;
    height: 100%;
  }
  .bannerimg img {
    width: 100%;
  }

  .billboard .banner-txt {
    z-index: 5;
    height: 100%;
    width: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
  }
  .banner-txt h3 {
    font-size: 30px;
  }
  .underline {
    width: 25%;
    border-bottom: 5px solid gray;
    animation: underline 10s linear infinite;
  }

  @keyframes underline {
    0% {
      width: 10%;
    }
    50% {
      width: 40%;
    }
    100% {
      width: 10%;
    }
  }
  .banner-txt h4 {
    font-size: 15px;
  }
  .banner-txt h1 {
    font-size: 70px;
    font-weight: 900;
  }
  .banner-txt p {
    font-size: 15px;
  }
  .banner-txt a {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    border-radius: 15px;
    border: 2px solid gray;
    width: 150px;
  }
  .bannerimg {
    width: 100%;
    height: 40%;
    margin-top: 20vh;
  }
  .bannerimg img {
    width: 100%;
    animation: bannerdrone 10s linear infinite;
  }

  @keyframes bannerdrone {
    0% {
      transform: translateY(-70px);
    }
    50% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(-70px);
    }
  }
}
/* jfklsjkd */

/* login page and registration page */
.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.form-div form {
  margin: 40px auto;
  width: 80%;
  max-width: 450px;
  padding: 30px 30px 20px;
  border-radius: 15px;
  position: relative;
  transition: 0.5s ease;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.178);
}
#loginForm {
  position: absolute;
}
#form {
  transform: translateX(150vw);
}

#form.deactivate {
  transform: scale(0.1);
  z-index: -2;
}

#form.activate {
  transform: translateX(0);
}
#loginForm.deactivate {
  transform: scale(0.1);
  z-index: -2;
}

#loginForm.activate {
  transform: translateX(0);
}

.fa-paper-plane {
  width: 100%;
  transition: 2s ease;
  animation: drone 4s linear infinite;
}
@keyframes drone {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
.drone-shadow {
  background-color: rgba(0, 0, 0, 0.178);
  margin: 0 auto;
  width: 50px;
  height: 10px;
  border-radius: 100px;
  transform: skewX(50deg);
  animation: shadow 4s ease infinite;
}
@keyframes shadow {
  0% {
    width: 100px;
  }

  50% {
    background-color: rgba(0, 0, 0, 0.062);
    width: 50px;
  }
  100% {
    width: 100px;
  }
}
.input-group {
  width: 100%;
  display: block;
  margin: 7px 0;
  position: relative;
}
.input-group input,
select {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
}

.input-group label {
  flex-basis: 28%;
  font-size: 12px;
  color: rgb(88, 88, 88);
}
::placeholder {
  font-size: 14px;
}
.input-group span {
  position: absolute;
  bottom: 35px;
  right: 25px;
  font-size: 12px;
  color: red;
  font-style: italic;
}
#error-fix {
  color: red;
}
.input-group .fa-circle-check {
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 14px;
  color: rgb(73, 73, 248) !important;
}
.gender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.gender p {
  font-size: 12px;
  position: absolute;
  text-align: center;
  width: 30%;
  bottom: 0px;
  color: rgb(88, 88, 88);
}
.gender-container {
  width: 30%;
}
.gender-container input {
  height: 20px;
}
.gender-icon {
  bottom: 5px !important;
  left: 90%;
}
.form span {
  font-weight: 500;
  padding: 20px;
  height: 20px;
  padding: 0;
  margin-bottom: 20px;
  right: 0;
}
.link-btn button {
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  color: white;
  background-color: rgb(148, 148, 148);
  border: 1px solid rgb(221, 221, 221);
}
.link-btn button:hover {
  background-color: rgb(94, 94, 94);
}

.regLogInLink,
.LogInLink {
  font-size: 12px;
  padding-top: 20px;
}
