@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}
*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

body {
  height: 100;
  width: 100%;
  min-height: 100vh;
}
@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}
@mixin responsive($breakpoint) {
  @if $breakpoint == smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }
  @if $breakpoint == bigphone {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

.app {
  @include flexDisplay(space-between, center, row);

  nav {
    @include flexDisplay(space-between, center, column);
    background-color: whitesmoke;
    width: 35%;
    max-width: 35%;
    min-width: 35%;
    height: 100vh;
    padding: 30px 10px;
    z-index: 20;
    top: 0;
    position: absolute;
    position: fixed;
    transition: 0.5s ease;
    margin-left: -100vw;

    @include responsive(tablet) {
      position: relative;
      position: sticky;
      margin-bottom: auto;
    }

    &.open {
      margin-left: 0;
    }

    @include responsive(tablet) {
      width: 300px;
      max-width: 300px;
      min-width: 300px;
      margin-left: 0;
      z-index: 0;
    }

    ul {
      width: 100%;

      @include responsive(tablet) {
        padding: 0 15px;
      }
      li {
        width: 100%;
        margin-bottom: 10px;
        height: 40px;
        border-radius: 5px;
        position: relative;
        transition: 0.3s ease-out;

        @include responsive(tablet) {
          padding: 0 10px;
        }

        &.active {
          background-color: rgb(238, 238, 238);
          border: 1px solid rgb(221, 221, 221);

          &::before {
            content: "";
            position: absolute;
            top: -25%;
            transform: translateY(50%);
            left: -3px;
            width: 6px;
            height: 75%;
            border-radius: 10px;
            background-color: royalblue;
          }
        }
        &:hover {
          background-color: rgb(214, 214, 214);
        }

        a {
          @include flexDisplay(flex-start, center, row);
          color: rgb(88, 88, 88);
          width: 100%;
          height: 100%;

          h3 {
            font-weight: 400;
            font-size: 12px;
            @include responsive(smallPhone) {
              font-size: 10px;
            }
            @include responsive(tablet) {
              font-weight: 500;
              font-size: 15px;
            }
          }

          i {
            padding: 0 8px 0 8px;

            @include responsive(tablet) {
              padding: 0 10px 0 0;
            }
          }
        }
      }
    }
  }
  .sidebar-right {
    width: 100%;
    min-height: 100vh;

    background-color: rgb(253, 253, 253);

    @include responsive(tablet) {
      position: relative;
    }

    .navbarTop {
      @include flexDisplay(space-between, center, row);
      width: 100%;
      height: 70px;
      padding: 0 10px;
      position: sticky;
      top: 0;
      background-color: rgb(253, 253, 253);
      border-bottom: 1px solid rgb(221, 221, 221);
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
      z-index: 10;

      @include responsive(tablet) {
        width: 100%;
        height: 70px;
        padding: 0 20px;
      }

      h3 {
        font-size: 20px;

        @include responsive(tablet) {
          font-size: 30px;
        }
      }

      .search {
        @include flexDisplay(center, center, row);
        background-color: whitesmoke;
        width: 400px;
        padding: 0 5px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgb(221, 221, 221);
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
        display: none;

        input {
          border: none;
          outline: none;
          width: 100%;
          padding: 0 10px;
          background-color: transparent;
        }

        i {
          font-size: 22px;
        }

        @include responsive(tablet) {
          display: flex;
        }
      }

      .profile-img {
        @include flexDisplay(space-between, center, row);

        img {
          object-fit: cover;
          border-radius: 100%;
          width: 45px;
          height: 45px;
          margin-right: 20px;
          position: relative;

          @include responsive(tablet) {
            width: 50px;
            height: 50px;
            margin-right: 20px;
          }
        }
        .notification-bell {
          @include flexDisplay(center, center, row);
          position: absolute;
          font-size: 18px;
          border-radius: 100%;
          background-color: whitesmoke;
          width: 20px;
          height: 20px;
          right: 70px;
          top: 5px;

          @include responsive(tablet) {
            right: 30px;
          }
        }
        .bx-menu {
          font-size: 40px;
          transition: 0.3s linear;
          &.rotate {
            transform: rotate(-90deg);
            color: royalblue;
          }
          @include responsive(tablet) {
            display: none;
          }
        }
      }
    }

    .top-card {
      @include flexDisplay(space-around, center, row);
      padding: 0 10px;
      // gap: 10px;
      margin-top: 40px;
      padding: 10px 10px;

      @include responsive(tablet) {
        @include flexDisplay(space-around, center, row);
        margin-top: 30px;
        padding: 0 20px;
        gap: 25px;
      }
      .top {
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        position: relative;
        box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.138);

        @include responsive(tablet) {
          width: 10vw;
          height: 10vw;
        }
        div {
          @include flexDisplay(space-between, center, column);
          width: 100%;
          height: 100%;
          transition: all 10s ease;

          h2 {
            font-weight: 900;
            font-size: 12px;
            padding-top: 5px;
            transform: scale(0.7);
            transition: all 0.5s ease;

            &.grade-txt {
              margin-top: 18%;
              transform: scale(1.8);
            }
          }

          img {
            width: 100%;
            transition: all 10s ease;

            &.drone-ani {
              animation: bounce 3s linear infinite;
              z-index: 5;

              @keyframes bounce {
                0% {
                  transform: scale(1.3) translateY(0);
                }
                40% {
                  transform: scale(1.3) translateY(-10px);
                }
                100% {
                  transform: scale(1.3) translateY(0);
                }
              }
            }
          }
        }

        &:nth-child(1) {
          background-image: linear-gradient(
            to top,
            #ffa600,
            #ffb002,
            #ffb908,
            #ffc310,
            #ffcc19
          );
        }
        &:nth-child(2) {
          background-image: linear-gradient(
            to top,
            #9cff00,
            #84ff37,
            #6aff52,
            #4cff69,
            #19ff7d
          );
        }
        &:nth-child(3) {
          background-image: linear-gradient(
            to top,
            #444444,
            #4d4d4d,
            #575757,
            #616161,
            #6b6b6b
          );
        }
      }
    }

    .lower-card {
      @include flexDisplay(space-between, center, column);
      margin-top: 20px;
      flex-wrap: wrap;
      padding: 20px 10px;

      @include responsive(bigphone) {
        @include flexDisplay(space-between, center, row);
      }
      @include responsive(tablet) {
        @include flexDisplay(space-between, center, row);
      }
      .drone-spec {
        position: relative;
        width: 100%;
        padding: 0 20px 10px 10px;
        @include responsive(bigphone) {
          width: 50%;
        }
        @include responsive(tablet) {
          width: 500px;
        }
        img {
          width: 170px;
          position: absolute;
          top: 170px;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          animation: drone-display 5s linear infinite;

          @keyframes drone-display {
            0% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(20px);
            }
            0% {
              transform: translateY(0);
            }
          }
        }
        .spec-top {
          @include flexDisplay(space-between, center, row);
          border: 1px solid rgb(221, 221, 221);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
          padding: 10px;
          border-radius: 10px;
          background-color: whitesmoke;

          .top-spec-name {
            width: 100%;

            h4 {
              width: 50%;
              margin-left: auto;
              span {
                font-size: 15px;
                color: #c50000f8;
              }
            }
          }
        }

        .drone-details {
          margin-top: 10px;
          @include responsive(tablet) {
            margin-top: 20px;
          }
          .spin {
            @include flexDisplay(center, center, row);
            box-sizing: border-box;
            margin: 0 auto;
            width: 210px;
            height: 210px;
            border: 8px solid rgba(0, 0, 0, 0);
            border-bottom-color: #4c5eff7e;
            border-top-color: #4c5eff7e;
            border-radius: 50%;
            animation: spin 8s linear infinite;

            .spinner2 {
              width: 185px;
              height: 185px;
              border-bottom-color: #4c5eff38;
              border-top-color: #4c5eff38;
              animation-duration: 4s;

              @keyframes spin {
                0% {
                  transform: rotate(360deg);
                }
                50% {
                  transform: rotate(-360deg);
                }
                0% {
                  transform: rotate(360deg);
                }
              }
            }
          }
        }

        .name-battery-con {
          @include flexDisplay(space-between, center, row);
          border-radius: 10px;
          border: 1px solid rgb(221, 221, 221);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
          padding: 10px;
          margin-top: 20px;
          .name-con {
            padding-right: 10px;
            h3 {
              text-transform: uppercase;
            }
            h4 {
              font-size: 13px;
              color: #272727;
            }
            h5,
            span {
              font-size: 12px;
              color: #c50000f8;
            }
          }
          .battery-con {
            @include flexDisplay(space-between, center, column);
            border: 2px solid rgb(161, 161, 161);
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
            height: 80px;
            width: 40px;
            margin-top: auto;
            padding: 0 2px 2px 2px;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              width: 4px;
              border: 3px solid gray;
              margin: 0 auto;
              right: 0;
              left: 0;
              top: -7px;
            }

            div {
              @include flexDisplay(space-between, center, column);
              margin-top: auto;
              font-weight: 600;
              text-align: center;
              width: 100%;
              padding: 0 2px;
              background-color: rgb(25, 214, 0);
              height: 70%;
            }
          }
        }

        .drone-camera-time {
          @include flexDisplay(space-between, center, row);
          margin-top: 10px;
          height: 180px;

          .camera-spec {
            @include flexDisplay(space-between, flex, column);
            border-radius: 10px;
            border: 1px solid rgb(221, 221, 221);
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
            width: 48%;
            height: 100%;
            padding: 5px;
            h3 {
              font-size: 18px;
              padding: 0 0 10px 0;
              i {
                padding: 5px 5px;
              }
            }
            p {
              font-weight: 500;
              padding: 0 5px;
              @include flexDisplay(space-between, center, row);
              span {
                font-size: 12px;
                color: #c50000f8;
              }
            }
          }
          .time-spec {
            @include flexDisplay(space-between, flex, column);
            border-radius: 10px;
            border: 1px solid rgb(221, 221, 221);
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
            width: 48%;
            height: 100%;
            padding: 5px;

            h3 {
              padding: 0 0 10px 0;
              i {
                padding: 5px 5px;
              }
            }
            p {
              font-weight: 500;
              padding: 0 5px;
              @include flexDisplay(space-between, center, row);

              span {
                font-size: 12px;
                color: #c50000f8;
              }
            }
          }
        }

        .pay-state {
          @include flexDisplay(space-between, center, row);
          height: 100px;

          .state {
            @include flexDisplay(space-between, flex, column);
            border-radius: 10px;
            border: 1px solid rgb(221, 221, 221);
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
            width: 100%;
            padding: 5px 10px;
            div {
              @include flexDisplay(space-between, flex, row);
              h3 {
                i {
                  padding: 5px 5px;
                }
              }
              p {
                font-weight: 500;
                padding: 0 5px;
                @include flexDisplay(space-between, center, row);

                span {
                  font-size: 15px;
                  color: #c50000f8;
                }
              }
            }

            .select-drone {
              width: 100%;
              height: 45px;
              margin-top: 10px;
              button {
                color: whitesmoke;
                font-size: 15px;
                font-weight: 500;
                border-radius: 5px;
                background-color: royalblue;
                border: 1px solid rgb(221, 221, 221);
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
                width: 100%;
                height: 100%;

                &:hover {
                  background-color: rgb(19, 43, 114);
                }
              }
            }
          }
        } 

        .form-con {
          border-radius: 10px;
          border: 1px solid rgb(221, 221, 221);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
          padding: 10px;
          background-color: whitesmoke;
          position: absolute;
          width: 93%;
          z-index: 3;
          bottom: 10px;
          transition: all .5s ease;
          transform: scale(0);

          &.ope {
            transform: scale(1);
          }

          form {
            @include flexDisplay(space-between, center, column);

            label {
              margin-right: auto;
            }
            select {
              width: 100%;
              height: 35px;
              border-radius: 10px;
              border: 1px solid rgb(221, 221, 221);
              box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
            }
            input {
              width: 100%;
              height: 35px;
              padding: 0 10px;
              border-radius: 10px;
              border: 1px solid rgb(221, 221, 221);
              box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
            }

            .payment {
              width: 100%;
              height: 45px;
              margin-top: 10px;

              a {
                border-radius: 5px;
                background-color: royalblue;
                border: 1px solid rgb(221, 221, 221);
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
                width: 100%;
                height: 100%;
                button {
                  color: whitesmoke;
                  font-size: 15px;
                  font-weight: 500;
                  border-radius: 5px;
                  background-color: royalblue;
                  border: 1px solid rgb(221, 221, 221);
                  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
                  width: 100%;
                  height: 100%;

                  &:hover {
                    background-color: rgb(19, 43, 114);
                  }
                }
              }
            }
          }
        }
      }

      .map {
        border: 2px solid green;
        width: 200px;
        height: 80px;
      }
    }
  }
}
