@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}
*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

body {
  height: 100;
  width: 100%;
  min-height: 100vh;
}
@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}
@mixin responsive($breakpoint) {
  @if $breakpoint == smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

.app {
  @include flexDisplay(space-between, center, row);

  nav {
    @include flexDisplay(space-between, center, column);
    background-color: whitesmoke;
    width: 35%;
    max-width: 35%;
    min-width: 35%;
    min-height: 100vh;
    padding-top: 30px;
    z-index: 2;
    transition: 0.5s ease;
    margin-left: -100vw;

    &.open {
      margin-left: 0;
    }

    @include responsive(tablet) {
      width: 300px;
      max-width: 300px;
      min-width: 300px;
      margin-left: 0;
      z-index: 0;
    }

    ul {
      width: 100%;

      @include responsive(tablet) {
        padding: 0 15px;
      }
      li {
        width: 100%;
        margin-bottom: 10px;
        height: 40px;
        border-radius: 5px;
        position: relative;
        transition: 0.3s ease-out;

        @include responsive(tablet) {
          padding: 0 10px;
        }

        &.active {
          background-color: rgb(238, 238, 238);
          border: 1px solid rgb(221, 221, 221);

          &::before {
            content: "";
            position: absolute;
            top: -25%;
            transform: translateY(50%);
            left: -3px;
            width: 6px;
            height: 75%;
            border-radius: 10px;
            background-color: royalblue;
          }
        }
        &:hover {
          background-color: rgb(214, 214, 214);
        }

        a {
          @include flexDisplay(flex-start, center, row);
          color: rgb(88, 88, 88);
          width: 100%;
          height: 100%;

          h3 {
            font-weight: 400;
            font-size: 12px;
            @include responsive(smallPhone) {
              font-size: 10px;
            }
            @include responsive(tablet) {
              font-weight: 500;
              font-size: 15px;
            }
          }

          i {
            padding: 0 8px 0 8px;

            @include responsive(tablet) {
              padding: 0 10px 0 0;
            }
          }
        }
      }
    }
  }
  .sidebar-right {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background-color: rgb(253, 253, 253);

    @include responsive(tablet) {
      position: relative;
    }

    .navbarTop {
      @include flexDisplay(space-between, center, row);
      width: 100%;
      height: 70px;
      padding: 0 10px;
      border-bottom: 1px solid rgb(221, 221, 221);
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);

      @include responsive(tablet) {
        width: 100%;
        height: 70px;
        padding: 0 20px;
      }

      h3 {
        font-size: 20px;

        @include responsive(tablet) {
          font-size: 30px;
        }
      }

      .search {
        @include flexDisplay(center, center, row);
        background-color: whitesmoke;
        width: 400px;
        padding: 0 5px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgb(221, 221, 221);
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.059);
        display: none;

        input {
          border: none;
          outline: none;
          width: 100%;
          padding: 0 10px;
          background-color: transparent;
        }

        i {
          font-size: 22px;
        }

        @include responsive(tablet) {
          display: flex;
        }
      }

      .profile-img {
        @include flexDisplay(space-between, center, row);

        img {
          object-fit: cover;
          border-radius: 100%;
          width: 45px;
          height: 45px;
          margin-right: 20px;
          position: relative;

          @include responsive(tablet) {
            width: 50px;
            height: 50px;
            margin-right: 20px;
          }
        }
        .notification-bell {
          @include flexDisplay(center, center, row);
          position: absolute;
          font-size: 18px;
          border-radius: 100%;
          background-color: whitesmoke;
          width: 20px;
          height: 20px;
          right: 70px;
          top: 5px;

          @include responsive(tablet) {
            right: 30px;
          }
        }
        .bx-menu {
          font-size: 40px;
          transition: 0.3s linear;
          &.rotate {
            transform: rotate(-90deg);
            color: royalblue;
          }
          @include responsive(tablet) {
            display: none;
          }
        }
      }
    }

    .top-card {
      @include flexDisplay(space-between, center, row);
      padding: 0 10px;
      gap: 10px;
      margin-top: 30px;

      @include responsive(tablet) {
        padding: 0 20px;
        gap: 25px;
      }
      .top {
        width: 28vw;
        height: 28vw;
        border-radius: 10px;
        position: relative;
        box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.138);

        @include responsive(tablet) {
          width: 33.3%;
          height: 20vw;
        }
        div {
          @include flexDisplay(space-between, center, column);
          width: 100%;
          height: 100%;
          transition: all 10s ease;

          h2 {
            font-weight: 900;
            font-size: 12px;
            padding-top: 5px;
            transform: scale(0.7);
            transition: all 0.5s ease;

            &.grade-txt {
              margin-top: 18%;
              transform: scale(1.8);
            }
          }

          img {
            width: 100%;
            transition: all 10s ease;
            transform: scale();

            &.drone-ani {
              animation: bounce 3s linear infinite;
              z-index: 5;
              transform: scale(1.3);

              @keyframes bounce {
                0% {
                  transform: translateY(0);
                }
                40% {
                  transform: translateY(-10px);
                }
                100% {
                  transform: translateY(0);
                }
              }
            }
          }
        }

        &:nth-child(1) {
          background-image: linear-gradient(
            to top,
            #ffa600,
            #ffb002,
            #ffb908,
            #ffc310,
            #ffcc19
          );
        }
        &:nth-child(2) {
          background-image: linear-gradient(
            to top,
            #9cff00,
            #84ff37,
            #6aff52,
            #4cff69,
            #19ff7d
          );
        }
        &:nth-child(3) {
          background-image: linear-gradient(
            to top,
            #444444,
            #4d4d4d,
            #575757,
            #616161,
            #6b6b6b
          );
        }
      }
    }

    .lower-card {
      @include flexDisplay(space-between, center, row);
      margin-top: 20px;
      border: 2px solid red;
      flex-wrap: wrap;
      padding: 10px;

      .drone-spec {
        @include flexDisplay(space-between, center, column);
        border: 2px solid blue;

        .spec-top {
          @include flexDisplay(space-between, flex-start, column);
          border: 5px solid red;
          width: 100%;
          border-radius: 10px;
          padding: 10px;
        }
        .spec-down {
          border: 5px solid yellow;
          margin-top: 20px;
          border-radius: 10px;
          padding: 10px;
          position: relative;
          img {
            position: absolute;
            width: 70%;
            top: 150px;
            margin-left: 12%;
            animation: drone-spin 4s linear infinite;

            @keyframes drone-spin {
              0% {
                transform: translateY(0);
              }
              40% {
                transform: translateY(-15px);
              }

              100% {
                transform: translateY(0);
              }
            }
          }
          .drone-spin,
          .drone-spin2 {
            @include flexDisplay(center, center, column);
            box-sizing: border-box;

            width: 100%;
            height: 100%;
            border: 15px solid rgba(255, 0, 0, 0);
            border-top-color: green;
            border-bottom-color: blue;
            border-radius: 50%;
            animation: roll 15s linear infinite;

            .drone-spin2 {
              width: 270px;
              height: 270px;

              margin: 0 auto;
              border-top-color: orange;
              border-bottom-color: pink;
              animation-duration: 5s;

              @keyframes roll {
                0% {
                  transform: rotate(360deg);
                }
                50% {
                  transform: rotate(-360deg);
                }
                100% {
                  transform: rotate(360deg);
                }
              }
            }
          }
          // div {
          //   border: 2px solid red;
          //   padding: 0 10px;
          //   @include flexDisplay(space-between, center, row);

          //   i {
          //     font-size: 40px;
          //   }
          //   div {
          //     @include flexDisplay(center, center, row);
          //     margin-top: 20px;

          //     div {
          //       @include flexDisplay(space-between, center, column);
          //     }
          //   }
          // }
        }
      }
      .map {
        border: 2px solid green;
        width: 300px;
        height: 80px;
      }
    }
  }
}
